@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";

}



<div class="container">

    <a class="btn btn-info mb-2" asp-page="/Nuevo">Crear nuevo</a>
    <table class="table">
        <thead class=thead-dark>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Titulo
                </th>
                <th>
                    Duración
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pel in Model.Peliculas)
            {
                <tr>
                    <td>@pel.Id</td>
                    <td>@pel.Titulo</td>
                    <td>@pel.Duracion</td>
                    <td>
                        <a asp-page="/Editar" asp-route-id="@pel.Id">Editar</a> |
                        <a asp-page-handler="Elimiar" class="text-danger" asp-route-id="@pel.Id">Elimar</a>
                    </td>

                </tr>

            }
        </tbody>

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            @if (Model.Anterior)
            {

                <li class="page-item">
                    <a class="page-link" asp-page-handler="/" asp-route-pagina="@(Model.Pagina_Actual-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>

            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>

            }


            @for (int i = Model.Min_Bloque; i <= (Model.Total_Paginas <= Model.Max_Bloque ? Model.Total_Paginas : Model.Max_Bloque); i++)
            {
                @if (i == Model.Pagina_Actual)
                {
                    <li class="page-item active"><a asp-route-pagina="@i" class="page-link" asp-page-handler="/">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a asp-route-pagina="@i" class="page-link" asp-page-handler="/">@i</a></li>
                }


            }



            @if (Model.Siguiente)
            {


                <li class="page-item">
                    <a class="page-link" asp-page-handler="/" asp-route-pagina="@(Model.Pagina_Actual+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </li>
            }




        </ul>
    </nav>

</div>





